<!DOCTYPE html>
<html>
<head>
<title>Ripple Rock</title>
<meta charset="UTF-8">
<meta name="Ripple Rock" content=Ripple Rock connects people who are creating solutions for issues on Orcas island. We support the healing of community and nature through a network of events, organizational tools, public spaces, designs, programs, and shared resources.">
<meta name="Grey Tyson" content= Ripple Rock NPO">
</header>
<body>
    <h1><b>Ripple Rock</b></h1>
    <h2><small>Connecting Orcas Island</small></h2>
    <a href="http:www.ripplerock.org/areyouok">Are You Ok?</a>

    
</body>
</html>