<!DOCTYPE html>
<html>
<head>
<title>Ripple Rock</title>
<meta charset="UTF-8">
<meta name="Ripple Rock" content=Ripple Rock connects people who are creating solutions for issues on Orcas island. We support the healing of community and nature through a network of events, organizational tools, public spaces, designs, programs, and shared resources.">
<meta name="Grey Tyson" content= Ripple Rock NPO">
</header>
<body>
    <h1><b>Ripple Rock</b></h1>
    <h2><small>Connecting Orcas Island</small></h2>
    <img src="placeholder1.jpg" alt="the whole crew" height="339" width="496">
<h3><p>
    The Vortex is land that was community purchased with the intention of providing a space for the neighborhood. There will be a large workshop for an art collective and we will be modeling low-cost structures on site. The overplanted Doug Firs are being cleared to let in sunlight then chipped and fed back to the ecosystem. We are intermixing our food plants with the forest, replanting native species, creating habitat for wildlife, and introducing solar and gray water systems. There are efforts in place to rebuild the mycelium and save rotting trees. We intend to host building, creative, and healing workshops once the spaces are set up</p>
<p>We hope that makers spaces and affinity groups can expand alongside our fertile ground projects, as secure housing creates more opportunities for art. </p>
</h3>
    
</body>
</html>