<!DOCTYPE html>
<html>

<head>
    <title>Ripple Rock</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Ripple Rock" content=Ripple Rock connects people who are creating solutions for issues on Orcas island.
        We support the healing of community and nature through a network of events, organizational tools, public spaces,
        designs, programs, and shared resources.">
    <meta name="Grey Tyson" content=Ripple Rock NPO">
    <link rel="icon" type="image/x-icon" href="/bird">
    </header>

    <div class="container-fluid">

<body>
    <h1><b>Ripple Rock</b></h1>
    <h2><small>Connecting Orcas Island</small></h2>

    <nav class="navbar">
        <a href="/projects">Projects</a>
        <a href="/programs">Programs</a>
        <a href="/events">Events</a>
        <a href="/resourses">Resources</a>
        <a href="/partners">Partners</a>
        <a href="/supportus">Support Us</a>
    </nav>


    <h3>
        <p>We strive to create economic resilience through island interdependence and neighborhood economies. Healing is
            a centerpiece for our movement. We cannot move forward until we can heal our generational misconceptions,
            become trauma-informed communicators, and can rebuild a culture that is sustainable and equitable through a
            symbiosis with nature. We need to implement designs that eliminate economic power dynamics and therefore
            disable the systematic oppression that disproportionately affects minority groups and the working class.
            Orcas Island is a popular travel destination brimming with artistic talent, so what we accomplish here has
            the potential to ripple out onto the rest of the PNW. Our voices are loud. With organized efforts, thriving
            natural spaces, and the proper distribution of abundance, we can set the standard for a better future. </p>
        <p>Selflessness and stewardship come more naturally once people have their needs met.</p>
        <p>So what can we DO to make this happen?</p>
        <p>Ironically, people who struggle the most have access to the least. Selflessness and stewardship come more
            naturally once people have their needs met. A good first step would be to transition unmanaged and
            under-utilized spaces into the hands of organizers, nature stewards, farmers, builders, and healers through
            community land trusts, stewardship leases, and neighborhood shared spaces. As an organization, we are
            working to create self-managing systems that can connect all demographics of people together.</p>
        <b>Featured projects:</b>
        <p><b><a href="http:www.ripplerock.org/FertileGround">Fertile Ground</a></b>
        <p>Fertile Ground is an experimental village project that aims to create affordable and low-impact housing
            options that increase the surrounding biodiversity for climate resilience and food security. Healing begins
            when basic needs are met. Housing security provides a community with the time and space to localize
            resources, explore education, and realize the potential of all. </p>

        <p><b><a href="http:www.ripplerock.org/areyouokay">Are You Okay?</a></b>
        <p>Results from a recent survey, a publication about it, and a link to the next survey.</p>
    </h3>
    </div>
</body>

</html>
